
# VISUAL STUDIO SUUUUUUUUCKS

# (this file contains specific settings for Visual Studio)

# vertical lines
# (using an extension)
[*]
guidelines = 80, 100, 125

# encoding
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 80
curly_bracket_next_line = true
