
# compiled binary garbage
/bin/
/bin-engine/
/bin-win/
/bin-lin/

# documentation output
/engine/docs/html/

# editor settings
/.vscode/

# VS garbage
/out/
/.vs/

# my own unrelated garbage
/sketches/

