


#titlearea {
    border-bottom: 1px solid #51411d;
}

.sm-dox {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAIAAADHFsdbAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TS0UqCnYQ6ZChOlkQleIoVSyChdJWaNXB5NIvaGJIUlwcBdeCgx+LVQcXZ10dXAVB8APEzc1J0UVK/F9SaBHjwXE/3t173L0DhGaNqWbPBKBqlpFJJsR8YUUMviKICAYRR0Bipp7KLuTgOb7u4ePrXYxneZ/7c/QrRZMBPpF4lumGRbxOHN+0dM77xGFWkRTic+Jxgy5I/Mh12eU3zmWHBZ4ZNnKZOeIwsVjuYrmLWcVQiaeJo4qqUb6Qd1nhvMVZrdVZ+578haGitpzlOs0IklhECmmIkFFHFTVYiNGqkWIiQ/sJD/+I40+TSyZXFYwc89iACsnxg//B727N0tSkmxRKAIEX2/4YBYK7QKth29/Htt06AfzPwJXW8W80gZlP0hsdLXoEDGwDF9cdTd4DLneA4SddMiRH8tMUSiXg/Yy+qQAM3QJ9q25v7X2cPgA56mrpBjg4BMbKlL3m8e7e7t7+PdPu7wef+XK5+pqh8AAAABtJREFUCJljOH7iCBMDA8NAY4aEEDumj2/vAwBppgZHCsJVjQAAAABJRU5ErkJggg==);
}

.sm-dox a:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAIAAADHFsdbAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TS0UqCnYQ6ZChOlkQleIoVSyChdJWaNXB5NIvaGJIUlwcBdeCgx+LVQcXZ10dXAVB8APEzc1J0UVK/F9SaBHjwXE/3t173L0DhGaNqWbPBKBqlpFJJsR8YUUMviKICAYRR0Bipp7KLuTgOb7u4ePrXYxneZ/7c/QrRZMBPpF4lumGRbxOHN+0dM77xGFWkRTic+Jxgy5I/Mh12eU3zmWHBZ4ZNnKZOeIwsVjuYrmLWcVQiaeJo4qqUb6Qd1nhvMVZrdVZ+578haGitpzlOs0IklhECmmIkFFHFTVYiNGqkWIiQ/sJD/+I40+TSyZXFYwc89iACsnxg//B727N0tSkmxRKAIEX2/4YBYK7QKth29/Htt06AfzPwJXW8W80gZlP0hsdLXoEDGwDF9cdTd4DLneA4SddMiRH8tMUSiXg/Yy+qQAM3QJ9q25v7X2cPgA56mrpBjg4BMbKlL3m8e7e7t7+PdPu7wef+XK5+pqh8AAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+UHHBA6AvUzCIMAAABBSURBVAjXXYzJDYAwEAMtd0YV/Om/AhI8eWRBKx7WyIes6zw8x+1kWsSAJZUwbPZMUuXdd2Le7vsr/ndg8pgMAwvfojH2jPeR4wAAAABJRU5ErkJggg==);
}
